@{
    ViewBag.Title = "About";
}
<h2>Centric Value Program</h2>
<h3>@ViewBag.Message</h3>

<p>The Centric Value Program is designed to encourage employees to exercise Centrics seven core values. This website alows you to assign and recive points from your colleagues.
</p>
<picture>
    <source media="(min-width: 650px)" srcset="~/Images/BusinessValues.jpg">
    <source media="(min-width: 465px)" srcset="img_white_flower.jpg">
    <img src="img_orange_flowers.jpg" alt="Flowers" style="width:auto;">
</picture>