@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron" style="background-color:whitesmoke">
        <h1 style="color:orange">Centric</h1>
        <h2 class="lead" style="color:darkslateblue">WELCOME TO YOUR VERY OWN VALUE TRACKING PROGRAM</h2>
        <img src="https://centricconsulting.com/wp-content/uploads/2018/07/Business-Icon-300x200.png" alt="Image" height="375">
        <p><a href="https://centricconsulting.com/about-us/" class="btn btn-primary btn-lg" style="color:orange">Learn More About Centric &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-lg-12" style="background-color:orange" >
            <h2 style="color:white"><b>Commit to Excellence</b></h2>
            <h3 style="color:white">We have a passion for consulting excellence. In all of our dealings we strive to first understand your needs and then deliver on our commitments 100 percent of the time.</h3>
            @*<button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-star"></span>
            </button>*@
 
        </div>
        <div class="col-lg-12" style="background-color:gainsboro">
            <h2><b>Live a Balanced Life</b></h2>
            <h3>Our employees are our greatest asset and people we value highly as individuals. We support everyone managing a work life balance that is aligned with their needs and we also actively monitor all engagements to ensure our owners and employees have time for family, community and personal interests.</h3>
            @*<button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-certificate"></span>
            </button>*@
                
        </div>
        <div class="col-lg-12" style="background-color:darkslateblue">
            <h2 style="color:white"><b>Strive to Innovate</b></h2>
            <h3 style="color:white">We value passion, determination, perseverance, and innovation. We are inspired because we believe in what we are doing and where we are going. We believe in using innovation to remove obstacles and help you succeed in your goals.</h3>
            @*<button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-cog"></span>
            </button>*@
                

        </div>
        <div class="col-lg-12" style="background-color:orange">
            <h2 style="color:white"><b>Embrace Integrity and Openness</b></h2>
            <h3 style="color:white">We value strong, positive relationships that are open and honest. This differentiates us and allows us to accomplish much more than we would be able to otherwise.</h3>
            @*<button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-comment"></span>
            </button>*@
                

        </div>
        <div class="col-lg-12" style="background-color:gainsboro">
            <h2><b>Invest in an Exceptional Culture</b></h2>
            <h3>We strive to hire and retain talented people from diverse backgrounds that are able to create a high impact for our clients and internally within Centric Consulting.</h3>
            @*<button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-globe"></span>
            </button>*@
                
        </div>
        <div class="col-lg-12" style="background-color:darkslateblue" >

            <h2 style="color:white"><b>Practice Responsible Stewardship</b></h2>
            <h3 style="color:white">We value stewardship and fiscal accountability and always strive to do more with less. We guard and conserve company resources as if they were our own because it makes good business sense at all times, not just during lean times.</h3>
            @*<button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-sunglasses"></span>
            </button>*@
               

        </div>
        <div class="col-lg-12" style="background-color:orange">

            <h2 style="color:white"><b>Ignite Passion for the Greater Good</b></h2>
            <h3 style="color:white">We take pride in our commitment to improving the world in which we live and take an active role in preserving our environment for future generations. We are steadfast in our devotion to the communities we serve and in actively promoting employee involvement in community improvement projects.</h3>
            @*<button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-heart"></span>
            </button>*@
                
        </div>
    </div>