@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron" style="background-color:whitesmoke">
        <h1 style="color:orange">Centric</h1>
        <h2 class="lead" style="color:darkslateblue">WELCOME TO YOUR VERY OWN VALUE TRACKING PROGRAM</h2>
        <img src="https://centricconsulting.com/wp-content/uploads/2018/07/Business-Icon-300x200.png" alt="Image" height="375">
        <p><a href="https://centricconsulting.com/about-us/" class="btn btn-primary btn-lg" style="color:orange">Learn More About Centric &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4" style="background-color:orange" >
            <h2>Commit to Excellence</h2>
            <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-star"></span>
            </button>
 
        </div>
        <div class="col-md-4" style="background-color:white">
            <h2>Practice Responsible Stewardship</h2>
            <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-certificate"></span>
            </button>
                
        </div>
        <div class="col-md-4" style="background-color:darkslateblue">
            <h2>Strive to Innovate</h2>
            
            <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-cog"></span>
            </button>
                

        </div>
        <div class="col-md-4" style="background-color:orange">
            <h2>Embrace Integrity and Openness</h2>
            <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-comment"></span>
            </button>
                

        </div>
        <div class="col-md-4" style="background-color:white">
            <h2>Invest in an Exceptional Culture</h2>
            <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-globe"></span>
            </button>
                
        </div>
        <div class="col-md-4" style="background-color:darkslateblue">

            <h2>Live a Balanced Life</h2>
            
            <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-sunglasses"></span>
            </button>
               

        </div>
        <div class="col-md-4" style="background-color:white">

            <h2>Ignite Passion for the Greater Good</h2>
            <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-heart"></span>
            </button>
                
        </div>
    </div>